<h2>あなたの誕生日は<%=  @born_info.year %>年<%=  @born_info.month %>月<%=  @born_info.day %>日です。<%= @message %></h2>
<h2>あなたの星座は<%= @sign %>座です。</h2>
<h2>あなたは<%=  @tosi %>歳です。</h2>
<h2>今日のあなたの運勢は<%=  @fortune %>です。</h2>